@import "font-awesome.min.css";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');

/*------------------------------------*\
    FlatIcon
\*------------------------------------*/

@font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.eot");
    src: url("../fonts/Flaticon.eot#iefix") format("embedded-opentype"),
    url("../fonts/Flaticon.woff") format("woff"),
    url("../fonts/Flaticon.ttf") format("truetype"),
    url("../fonts/Flaticon.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    font-family: Flaticon;
    font-size: 20px;
    font-style: normal;
    margin-left: 0;
}

.flaticon-ar-condicionado:before { content: "\f100"; }
.flaticon-beliche:before { content: "\f101"; }
.flaticon-chuveiro:before { content: "\f102"; }
.flaticon-cofre:before { content: "\f103"; }
.flaticon-facebook:before { content: "\f104"; }
.flaticon-frigobar:before { content: "\f105"; }
.flaticon-garagem:before { content: "\f106"; }
.flaticon-google-plus:before { content: "\f107"; }
.flaticon-guardaroupa:before { content: "\f108"; }
.flaticon-hidro:before { content: "\f109"; }
.flaticon-instagram:before { content: "\f10a"; }
.flaticon-mesa:before { content: "\f10b"; }
.flaticon-pinteres:before { content: "\f10c"; }
.flaticon-queen:before { content: "\f10d"; }
.flaticon-queen-size:before { content: "\f10e"; }
.flaticon-rede:before { content: "\f10f"; }
.flaticon-secador:before { content: "\f110"; }
.flaticon-sofa:before { content: "\f111"; }
.flaticon-solteiro:before { content: "\f112"; }
.flaticon-superking:before { content: "\f113"; }
.flaticon-telefone:before { content: "\f114"; }
.flaticon-tv:before { content: "\f115"; }
.flaticon-twitter:before { content: "\f116"; }
.flaticon-ventilador:before { content: "\f117"; }
.flaticon-wi-fi:before { content: "\f118"; }

/* ==============================
   Common styles
   ============================== */


.animate, .animate *{
	-webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);  
    -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
    -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
    transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}
.no-animate, .no-animate *{
	-webkit-transition: 0 none !important;  
    -moz-transition: 0 none !important;  
	 -ms-transition: 0 none !important;
    -o-transition: 0 none !important;    
    transition:0 none !important;  
}


.clearlist, .clearlist li {
    list-style: none;
    padding: 0;
    margin: 0;
    background: none;
}

.full-wrapper {
    margin: 0 2%;
}
.container-fluid{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 20px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html{
	overflow-y: scroll;
    -ms-overflow-style: scrollbar;
}
html, body{
	height: 100%;
	-webkit-font-smoothing: antialiased;

}


.page{
	overflow: hidden;
}

.body-masked{
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: #fff url(../images/loader.gif) no-repeat center center;
	z-index: 100000;
}

.mask-delay{
	-webkit-animation-delay: 0.75s;
	-moz-animation-delay: 0.75s;
	animation-delay: 0.75s;
}
.mask-speed{
	-webkit-animation-duration: 0.25s !important;
	-moz-animation-duration: 0.25s !important;
	animation-duration: 0.25s !important;
}

/* ==============================
   Page loader
   ============================== */


.page-loader{
 	display:block;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: #fefefe;
	z-index: 100000;	
}

.loader{
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  font-size: 10px;
  text-indent: -12345px;
  border-top: 1px solid rgba(0,0,0, 0.08);
  border-right: 1px solid rgba(0,0,0, 0.08);
  border-bottom: 1px solid rgba(0,0,0, 0.08);
  border-left: 1px solid rgba(0,0,0, 0.5);
  
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  
   -webkit-animation: spinner 700ms infinite linear;
   -moz-animation: spinner 700ms infinite linear;
   -ms-animation: spinner 700ms infinite linear;
   -o-animation: spinner 700ms infinite linear;
   animation: spinner 700ms infinite linear;
  
  z-index: 100001;
}



/* ==============================
   Typography
   ============================== */

body{
	color: #111;
	font-size: 14px;
    font-family: 'Open Sans', sans-serif;
	line-height: 24px;
	-webkit-font-smoothing: antialiased;
    }



.font-alt{
    font-family: Dosis, arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}



/* ==============================
   Home sections
   ============================== */



h1.title {
    position: relative;
    z-index: 1;
    font-family: 'Great Vibes', cursive;
    font-size: 46px;
    letter-spacing: 1px;
    margin: 0;
    padding: 42px 0;
    color: white;
}

/*h1.title:before {*/
    /*background: url("../images/icons/star.png") no-repeat;*/
    /*height: 13px;*/
    /*content:"";*/
    /*margin: 0 auto; !* this centers the line to the full width specified *!*/
    /*position: absolute; !* positioning must be absolute here, and relative positioning must be applied to the parent *!*/
    /*top: 50%; left: 0; right: 0; bottom: 0;*/
    /*width: 412px;*/
    /*z-index: -1;*/
/*}*/
/*h1.title:after {*/
    /*background: url("../images/icons/star.png") no-repeat;*/
    /*height: 13px;*/
    /*content:"";*/
    /*margin: 0 auto; !* this centers the line to the full width specified *!*/
    /*position: absolute; !* positioning must be absolute here, and relative positioning must be applied to the parent *!*/
    /*top: 50%;  bottom: 0;*/
    /*width: 132px;*/
    /*z-index: -1;*/
/*}*/

/*h1.title span {*/
    /*!* to hide the lines from behind the text, you have to set the background color the same as the container *!*/
    /*padding: 0 15px;*/
/*}*/

.lazer{
    padding: 80px 0 80px 0;
    /*background: url("../images/bg-welcome.png") no-repeat left top;*/

}

.h1-form-banner {
    display: block;
    background-color: #487C56;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    margin: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.wrap-form-banner {
    background-color: #eeeeee;
    padding: 12px 20px 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.btn-cta {
    background-color: #de9208;
    border: 1px solid #d58a08;
    border-top: 1px solid #d58a08;
    border-radius: 3px;
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
}


.lazer h2{
    text-align: center;
    color: #30140a;
    font-family: 'Raleway', sans-serif;
    font-size: 54px;
    margin-bottom: 30px;
    font-weight: 300;
    text-transform: uppercase;
}

.lazer p{
    color: #5A5A5A;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 10px;
    text-align: justify;
}

.lazer img{
    margin-top: 40px;
}

.main {
    padding: 70px 0 40px 0;
    background: url("../images/bg-main.jpg") right top no-repeat;
}

.main h2{
    text-align: center;
    color: #487C56;
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    font-weight: 300;
    text-transform: uppercase;
    margin-top: 0;
}

.main p{
    color: #333333;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 24px;
    line-height: 30px;
    font-weight: 300;
    margin: 30px 0 70px 0;
}

#yspa p{
    color: #222222 ;
}

#yspa p:hover{
    color: #326C43 ;
}

#yspa a:hover{
    text-decoration: none;
}

.link{
    color: #333333;
    text-decoration: none;
}

.link:hover{
    color: #333333;
    text-decoration: none;
}

.link figcaption{
    padding-top: 10px;
}

.main-img{
    margin: 70px 0;
}



/* Scroll down icon */

@-webkit-keyframes scroll-down-anim {
	0%{ bottom: 2px; }
	50%{ bottom: 7px; }
	100%{ bottom: 2px; }
}
@-moz-keyframes scroll-down-anim {
	0%{ bottom: 2px; }
	50%{ bottom: 7px; }
	100%{ bottom: 2px; }
}
@-o-keyframes scroll-down-anim {
	0%{ bottom: 2px; }
	50%{ bottom: 7px; }
	100%{ bottom: 2px; }
}
@keyframes scroll-down-anim {
	0%{ bottom: 2px; }
	50%{ bottom: 7px; }
	100%{ bottom: 2px; }
}

.scroll-down{
	width: 40px;
	height: 40px;
	position: absolute;
	bottom: 20px;
	left: 48.86%;
    text-align: center;
    text-decoration: none;
    z-index: 9999;

    -webkit-transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
    -moz-transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
    -o-transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
    transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940);

}

.scroll-down:before{
    display: block;
    content: "";
	width: 20px;
	height: 20px;
    margin: 0 0 0 -10px;
	position: absolute;
	bottom: 0;
	left: 50%;
    background: #fff;

    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;

    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);

    -webkit-transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
    -moz-transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
    -o-transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
    transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940);

    z-index: 1;
}

.scroll-down:hover:before{
    opacity: .6;
}


.scroll-down-icon{
    display: block;
    width: 10px;
    height: 10px;
    margin-left: -5px;
    position: absolute;
    left: 50%;
    bottom: 4px;
	color: #111;
    font-size: 15px;

	-webkit-animation: scroll-down-anim 1s infinite;
    -moz-animation: scroll-down-anim 1s infinite;
    -o-animation: scroll-down-anim 1s infinite;
    animation: scroll-down-anim 1s infinite;


   z-index: 2;
}


.hs-line-8{
    margin-top: 0;
    position: relative;
	font-size: 16px;
	font-weight: 400;
    letter-spacing: 0.3em;
    line-height: 1.2;
    opacity: .75;
}
.hs-line-8.no-transp{
    opacity: 1;
}


.hs-line-14{
    margin-top: 0;
    position: relative;
	font-size: 48px;
	font-weight: 400;
    line-height: 1.4;
	text-transform: uppercase;
	letter-spacing: 0.7em;
}


/* ==============================
   Classic menu bar
   ============================== */




/* ==============================
   Header
   ============================== */

.info-top{text-align: right; font-family: "Open Sans",sans-serif; letter-spacing: 1px; color: #ffffff; margin-top: 50px; }
.info-top a{color: #ffffff; text-decoration: none }
.info-top i:before{  margin: 0 5px;}

.flag{
    margin-left:10px;
    cursor:pointer;
}


/* ==============================
   Menu
   ============================== */

/* Logo (in navigation panel)*/

.nav-logo-wrap{
    float: left;
    margin-right: 10px;
    padding: 15px 0;
}
.nav-logo-wrap .logo{
    display: table-cell;
    vertical-align: middle;


    -webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}
.nav-logo-wrap .logo img{
    height: 148px;
}
.logo-small img{
    height: 55px;
}

/*
 * Desktop nav
 */

.main-nav{
    width: 100%;
    height: 170px !important;
    position: relative;
    top: 0;
    left: 0;
    text-align: left;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 0 rgba(0,0,0,.05);
    box-shadow:  0 1px 0 rgba(0,0,0,.05);

    z-index: 1030;

    -webkit-transition: height 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -moz-transition: height 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -o-transition: height 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: height 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    transition: height 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}


.small-height{
    height: 120px !important;
    padding-bottom: 20px;
}
.small-height .inner-nav ul li a{
    height: 0px !important;
    line-height: 0px !important;
    padding-bottom: 20px;
}
.inner-nav{
    display: inline-block;
    position: relative;
    float: right;
    margin-top: 0;
}
.inner-nav ul{
    float: right;
    margin: auto;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 300;
    text-align: center;
    line-height: 1.3;
    margin-top: 20px;
}
.inner-nav ul li {
    float: left;
    margin-left: 25px;
    position: relative;
}
.inner-nav ul li a{
    color: #30140a;

    display: inline-block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;

    -webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}
.inner-nav ul > li:first-child > a{

}
.inner-nav ul li a:hover,
.inner-nav ul li a.active{
    color: #87d446;
    text-decoration: none;
}


/** Mobile nav */



.mobile-on .desktop-nav{
    display: none;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 0;
    z-index: 100;
}
.mobile-on .full-wrapper .desktop-nav{
    padding: 0;
}


.mobile-on .desktop-nav ul{
    width: 100%;
    float: none;
    background: rgba(94, 88, 77, 0.96);
    position: relative;
    overflow-x: hidden;
}
.mobile-on .desktop-nav > ul{ overflow-y: auto;}
.mobile-on .desktop-nav ul li{
    display: block;
    float: none !important;
    overflow: hidden;
    margin-left: 0;
}
.mobile-on .desktop-nav ul li ul{
    padding: 0;
    border-bottom: 1px solid rgba(255,255,255, .1);
}
.mobile-on .desktop-nav ul li a{
    display: block;
    width: 100%;
    height: 38px !important;
    line-height: 38px !important;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px;
    text-align: center;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgba(255,255,255, .065);
    color: #ffffff;
    letter-spacing: 1px;
    cursor: pointer;
}
.mobile-on .desktop-nav ul li a:hover,
.mobile-on .desktop-nav ul li a.active{
    background: rgba(255,255,255, .03);
    color: #7d776c;
}

/* Menu sub */

.mn-sub{
    display: none;
    width: 230px;
    position: absolute;
    top: 100%; !important;
    left: -10px;
    padding: 0;
    background: rgba(86, 80, 72, 0.97);
}
.mn-sub li{
    display: block;
    width: 100%;
    margin: 0 !important;
}
.inner-nav ul li .mn-sub li a{
    display: block;
    width: 100%;
    height: auto !important;
    line-height: 1.3 !important;
    position: relative;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 11px 15px;
    font-size: 14px;
    text-align: left;
    border-left: none;
    border-right: none;
    letter-spacing: 1px;
    color: white;

    cursor: pointer;

}

.inner-nav ul li .mn-sub li a i{
    position: absolute;
    right: -30px;
}

.mobile-on .mn-has-multi > li:last-child > a{
    border-bottom: 1px solid rgba(255,255,255, .065) !important;
}

.mn-sub li a:hover, .mn-sub li a.active{
    background: rgba(255,255,255, .09);
    color: #cac4b0 !important;
}

.mn-sub li ul{
    left: 100%;
    right: auto;
    top: 0;
    border-left: 1px solid rgba(255,255,255, .07);
}
.inner-nav > ul > li:last-child .mn-sub,
.inner-nav li .mn-sub.to-left{
    left: auto;
    right: 0;
}
.inner-nav li:last-child .mn-sub li ul,
.inner-nav li .mn-sub li ul.to-left{
    left: auto;
    right: 100%;
    top: 0;
    border-left: none;
    border-right: 1px solid rgba(255,255,255, .07);
}
.mobile-on .inner-nav li:last-child .mn-sub li ul{
    left: auto;
    right: auto;
    top: 0;
}

.mn-wrap{
    padding: 8px;
}


/* Menu sub */

.mobile-on .mn-has-sub > .fa{
    display: block;
    width: 18px;
    height: 18px;
    font-size: 14px;
    line-height: 16px;
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -8px;
    text-align: center;
    border: 1px solid rgba(255,255,255, .1);

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.mobile-on .js-opened > .mn-has-sub > .fa{
    border-color: rgba(255,255,255, .4);
    line-height: 14px;
}
.mobile-on .inner-nav li{
    margin: 0 !important;
}
.mobile-on .mn-sub{
    display: none;
    opacity: 0;
    position: relative;
    left: 0 !important;
    right: 0;
    top: 0;
    bottom: 0;
    border-left: none !important;
    border-right: none !important;
    border-top: none ;
    z-index: 10;
}
.mobile-on .mn-sub li{
    padding-left: 10px;
}


.inner-nav li.js-opened .mn-sub{
    opacity: 1;
}


.mobile-nav{
    display: none;
    float: right;
    vertical-align: middle;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;
    color: #30140a;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;

    -webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);

    -webkit-transition-property: background, color;
    -moz-transition-property: background, color;
    -o-transition-property: background, color;
    transition-property:  background, color;
}
.mobile-nav:hover,
.mobile-nav.active{
    color: #592313;
}
.mobile-nav:active{
    -webkit-box-shadow: 0 0 35px rgba(0,0,0,.05) inset;
    -moz-box-shadow: 0 0 35px rgba(0,0,0,.05) inset;
    box-shadow: 0 0 35px rgba(0,0,0,.05) inset;
}
.no-js .mobile-nav{
    width: 55px;
    height: 55px;

}
.mobile-on .mobile-nav{
    display: table;
    margin-top: 30px;
}
.mobile-nav .fa{
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 30px;

}



/** Transparent Menu */
.main-nav.transparent{background: url("../images/bg-header.jpg") center center no-repeat }
.main-nav.js-transparent{
    -webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}


/* ==============================
   Reservas Fixa Direita
   ============================== */

.book-now-wrapper{
    position: fixed;
    right: 0;
    top: 35%;
    text-align: center;
    z-index: 9999;
    font-family: "Open Sans",sans-serif;
}
.book-now-wrapper .book-now{
    position: relative;
    width: 1px;
    box-shadow: 0 0 3px rgba(0,0,0,0.16);
    border-width: 0;
    background: #f6f6f6;
    padding: 25px 0;
    border-radius: 2px ;
    overflow-x: hidden ;
    opacity: 0;
}
.book-now-wrapper .book-now.open{
    width: 385px;
    padding: 25px 20px;
    border-right: 2px solid #9ec572;
    border-top: 1px solid #b5df86;
    border-bottom: 1px solid #b5df86;
    border-left: 1px solid #b5df86;
    opacity: 1;
}
.book-now-wrapper  .toggle{
    font-size       : 15px;
    color           : #1a2f00;
    font-weight: 400;
    letter-spacing: 1px;
    width: 203px;
    opacity: 1;
    -webkit-transition: all ease 0.35s;
    -o-transition: all ease 0.35s;
    transition: all ease 0.35s;
    -ms-transform: rotate(270deg); /* IE 9 */
    -webkit-transform: rotate(270deg); /* Safari */
    transform: rotate(270deg);
    padding: 10px 0;
    text-transform: uppercase;
    background: #47ff58;
    box-shadow: 0 -2px 3px rgba(0,0,0,0.3);
    text-align: center;
    border-radius: 5px 5px 0 0 ;
    position: absolute;
    left: -121px;
    top: 45.5%;
    cursor: pointer;

}
.book-now-wrapper  .toggle i{
    font-size       : 18px;
    color           : #1a2f00;

}
.book-now-wrapper .book-form p{
    font-size       : 15px;
    color           : #000000;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 300;

    -ms-text-align-last: auto;
    text-align: center;
}
.book-now-wrapper .form-control{
    border-radius: 2px;
    box-shadow: none;
    border: 1px solid #b3b3b3;
}
.book-now-wrapper input, .book-now-wrapper .input-group {
    padding: 20px 10px;
    margin-bottom: 15px;
}
.book-now-wrapper .input-group {
    padding: 0;
    margin-bottom: 15px;
}

.book-now-wrapper  .form-control:focus {
    border-color: #ababab;
    background: #ffffff;
    outline: 0;
    -webkit-box-shadow: inset 0 0 0 rgba(0,0,0,0), 0 0 0 rgba(102, 175, 233, 0);
    box-shadow: inset 0 0 0 rgba(0,0,0,0), 0 0 0 rgba(102, 175, 233, 0);
}
.book-now-wrapper::-moz-placeholder {
    font-family     : 'Roboto', sans-serif;
    font-size       : 14px;
    color           : #3b3b3b;
    font-style: italic;
    font-weight: 300;
    letter-spacing: 1px;
    opacity         : 1;
}
.book-now-wrapper:-ms-input-placeholder {
    font-family     : 'Roboto', sans-serif;
    font-size       : 16px;
    color           : #3b3b3b;
    font-style: italic;
    font-weight: 300;
}
.book-now-wrapper::-webkit-input-placeholder {
    font-family     : 'Roboto', sans-serif;
    font-size       : 16px;
    color           : #3b3b3b;
    font-style: italic;
    font-weight: 300;
}
.book-now-wrapper .btn{
    font-family     : 'Roboto', sans-serif;
    font-size       : 14px;
    color           : #ffffff;
    text-transform: uppercase;
    padding: 7px 20px;
    width: 100%;
}

.wizard {
    margin: 0 auto;

}
.wizard .nav-tabs {
    position: relative;
    margin: 0px auto;
    margin-bottom: 0;
    border-bottom-color: #e0e0e0;
}
.wizard > div.wizard-inner {
    position: relative;
}
.connecting-line {
    height: 2px;
    background: #e0e0e0;
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}

span.round-tab {
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: #fff;
    border: 2px solid #e0e0e0;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
}
span.round-tab i{
    color:#555555;
}
.wizard li.active span.round-tab {
    background: #fff;
    border: 2px solid #7cd100;

}
.wizard li.active span.round-tab i{
    color: #62a800;
}

span.round-tab:hover {
    color: #333;
    border: 2px solid #333;
}
.wizard .nav-tabs > li {
    width: 25%;
}
.wizard li:after {
    content: " ";
    position: absolute;
    left: 38%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #62a800;
    transition: 0.1s ease-in-out;
}
.wizard li.active:after {
    content: " ";
    position: absolute;
    left: 38%;
    opacity: 1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #62a800;
}
.wizard .nav-tabs > li a {
    width: 70px;
    height: 70px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
}
.wizard .nav-tabs > li a:hover {background: transparent;}
.wizard .tab-pane {position: relative; padding-top: 10px;}
.wizard h5 {margin: 15px 0;text-transform: uppercase;color: #204d74;  }

.reserva .bukly-widget #checkin, .reserva .bukly-widget #checkout {
    height: 30px;
    margin-bottom: 5px;
    -webkit-appearance: none;
    border-radius: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
    border: 1px solid #ccc;
    outline: 0;
    padding: 5px 26px 5px 8px;
    font-size: 13px;
    width: 120px;
}




.reserva .bukly-widget .pure-button {
    margin-top: 28px;
    font-size: 13px;
    vertical-align: middle;
}

/* ==============================
   Footer
   ============================== */

/* footer{ background: url("../images/bg-footer.jpg") bottom no-repeat ; color: white; font-family: "Open Sans Light", sans-serif ; padding-top: 120px} */
footer{ background-color: #3E9853 ; color: white; font-family: "Open Sans Light", sans-serif ; padding-top: 30px}
footer h3{ font-family: Oswald, sans-serif; font-size: 24px; text-transform: uppercase; font-weight: 300; letter-spacing: 1px; margin: 0}
footer p { font-weight: 300; margin-top: 20px; line-height: 27px; }
footer p i:before{ margin-right: 10px;}
footer a {text-decoration: none; color: white }
footer a:hover { color: #b5df86; text-decoration: none;}

footer ul{
    margin-top: 20px;
}

footer ul li{
    text-transform: uppercase;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 1px;
}

.top-footer{
    background-color: #337D51 ; color: white; font-family: "Open Sans Light", sans-serif ; padding-top: 30px; padding-bottom: 30px;
}

.copyright{background: white; color: #333333; font-family: "Open Sans", sans-serif; padding: 5px 0}

#newsForm, #result{font-family: "Arial", sans-serif}
.success{ font-size: 16px; color: #0097e2}
.error{ font-size: 16px; color: #ea2914}

/* ==============================
   Acomodacoes
   ============================== */

main{padding: 60px 0;}

.min-padding{padding:  0 2px}

.item{margin: 60px 0 0 0; line-height: 10px;}



.item h2{ font-size: 28px; font-weight: 100; margin-top: 0; margin-bottom: 30px;}

fieldset.instalacoes {
    border-bottom: none;
    border-left: none;
    border-right: none;
    display: block;
    text-align: left;
    text-transform: uppercase;
    padding: 0 65% 0 5%;
    margin: 0;

}

fieldset.instalacoes legend {
    padding: 5px 10px;
    color: #4faf65;

}

.facilidades{margin: 15px 0}

.facilidades li{

    float: left;
    display: block;
    list-style-type: none;
    margin-bottom: 1.5em;
    padding: 0 0 0 5px;
    min-height: 33px;
    text-align: left;
    width: 50%;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 25px auto;
    line-height: 1.1;
    position: relative;
    font-family: "Open Sans", sans-serif;
    color: #19320f;

}
.facilidades li span{
    position: absolute;
    margin-left: 5px;
}

.imginline{
    display: inline-block;
    margin: 2px 0;
}


.titlepage{ padding: 0; margin: 0; font-family: 'Julius Sans One', sans-serif;   font-weight: 100;  text-align: center; color: #3a3a3a
}
/* ==============================
   Hotel
   ============================== */


.text-hotel {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    -webkit-column-gap: 100px; /* Chrome, Safari, Opera */
    -moz-column-gap: 100px; /* Firefox */
    column-gap: 100px;
    -webkit-column-rule: 1px solid rgba(25, 50, 15, 0.35); /* Chrome, Safari, Opera */
    -moz-column-rule: 1px solid rgba(25, 50, 15, 0.35);; /* Firefox */
    column-rule: 1px solid rgba(25, 50, 15, 0.35);;

    color: #333333;
    line-height: 24px;
    font-size: 14px;
    text-align: justify;

}

/* ==============================
   Lazer
   ============================== */

.textpage{
    padding: 30px 0;
    font-family: "Open Sans Light", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    
}

/* ----- Tabela ----- */
.rwd-table {
    font-family: "Open Sans", sans-serif;
    color: #383838;
    border-radius: .4em;
    overflow: hidden;
    margin: 1em 0;
    min-width: 300px;
    width: 100%;
    padding: 30px 0;
}
.stripped{background: rgba(162, 191, 198, 0.54);}
.no-stripped{background-color: rgba(249, 249, 249, 0.70);}
.rwd-table tr {border-color: #334497;  border-top: 1px solid #ddd; border-bottom: 1px solid #ddd;}
.rwd-table th, .rwd-table td {margin: .3em 0.3em; text-align: center;}
.rwd-table th {display: none;}
.rwd-table td {display: block;}
.rwd-table td:first-child { padding-top: .5em;}
.rwd-table td:last-child {padding-bottom: .5em;}
.rwd-table td:before {
    content: attr(data-th) ": ";
    font-weight: bold;
    width: 6.5em;
    display: inline-block;
}
.rwd-table th, .rwd-table td:before {color: #334497;text-align: center;}

@media (max-width: 479px) and (orientation: portrait){
    .rwd-table td:before {
        content: attr(data-th) ": ";
        font-weight: bold;
        width: 8.5em;
        display: inline-block;
    }
    .rwd-table th, .rwd-table td {text-align: left;}
    .rwd-table th, .rwd-table td:before {text-align: left;}
}
@media (min-width: 480px) {
    .rwd-table th, .rwd-table td {text-align: left;}
    .rwd-table th, .rwd-table td:before {text-align: left;}
    .rwd-table td:before {display: none;}
    .rwd-table th, .rwd-table td {display: table-cell;padding: .25em .25em;padding: 1em 0.25em !important;}
    .rwd-table th:first-child, .rwd-table td:first-child {padding-left: 0;}
    .rwd-table th:last-child, .rwd-table td:last-child {padding-right: 0;}
}

.lista-footer{
    text-align: right;
}


/* ==============================
   Promoção
   ============================== */

.menu-pacotes{
    list-style: none;

}
.menu-pacotes li{
    padding: 10px 20px ;
    background: #489736;
    margin-bottom: 5px;
    color: white;
}

.menu-pacotes li a{
    color: white;
    text-decoration: none;
}

.menu-pacotes li:hover {
    background: #3c792d;
}

.slider-img{
    position: relative;
    top: -1px;
}

.title-lazer{
    background: #489736;
    padding: 20px 5px;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
}

.mb-30{margin-bottom: 30px}



/*------------------------------------------------------------------
    Responsive CSS
-------------------------------------------------------------------*/


@media only screen and (max-width: 1680px) {

}
@media only screen and (max-width: 1400px) {


}
@media only screen and (max-width: 1199px) {
    .inner-nav ul{
        float: right;
        margin: auto;
        font-size: 14px;
        letter-spacing: 1px;
        font-weight: 300;
        text-align: center;
        line-height: 1.3;
        margin-top: 40px;
    }
    .inner-nav ul li {
        float: left;
        margin-left: 25px;
        position: relative;
    }


}

/* ==============================
   Tablet landskape
   ============================== */

@media only screen and (max-width: 1024px){

    .slider-img{
        position: relative;
        top: -10px;
    }

    .lazer{
        background: none;
    }


}
@media only screen and (max-width: 992px) {
    .inner-nav ul{
        margin-top: 0;
    }
    .main-nav{
        height: 100px !important;
    }
    .nav-logo-wrap .logo img{
        height: 80px;
    }

    .inner-nav ul li .mn-sub li a{

        text-align: center;


    }

}

/* ==============================
   Tablet Portrait
   ============================== */

@media only screen and (max-width: 768px) {
    .lazer{
        background: none;
    }
    .inner-nav ul{
        margin-top: 0;
    }

    fieldset.instalacoes {
        border: none;
    }
    fieldset.instalacoes legend{
        border: none;
    }
    .tparrows, .tp-bullets {
        display: none !important;
    }
    .room p{ margin-top: 15px; }

}


/* ==============================
   Phone
   ============================== */

@media only screen and (max-width: 480px) {

    .slider-img{
        margin-top: 0px;
    }


    h1.title {
        font-size: 36px;
    }
    h1.title:before {
        background: none;
        height: 0;
        width: 0;

    }
    h1.title:after {
        background: none;
        height: 0;
        width: 0;
    }

    .nav-logo-wrap .logo img{
        height: 70px;
    }

    .home-content{
        margin-top: 0px;
    }

    .book-now-wrapper .book-now.open{
        width: 280px;
    }
    .book-now-wrapper .btn{
        font-family     : 'Roboto', sans-serif;
        font-size       : 12px;
        color           : #ffffff;
        text-transform: uppercase;
        padding: 5px 10px;
        width: 100%;
    }
}



/* ==============================
   Small Phone
   ============================== */

@media only screen and (max-width: 320px) {
    .book-now-wrapper{display: none}
}

/* ==============================
   Max width 768
   ============================== */

@media only screen and (max-width: 767px) {

    .lista-footer{
        text-align: center;
    }

    .main {
        padding: 40px 0 40px 0;
        background: none;
    }

    footer{ background: #26477C; padding-top: 60px}


    .hs-line-14{
        font-size: 30px;
        font-weight: 400;
        line-height: 1.4;
        text-transform: uppercase;
        letter-spacing: 0.2em;
    }

    .wizard {
        width: 90%;
        height: auto !important;
    }

    span.round-tab {
        font-size: 16px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard .nav-tabs > li a {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard li.active:after {
        content: "";
        position: absolute;
        left: 35%;
    }


}

/* ==============================
   IOS Background Fix
   ============================== */

.mobile .page-section, .mobile .home-section, .mobile .small-section{
    background-attachment: scroll;
}

/* --------------------------------

Main components

-------------------------------- */
.cd-testimonials-wrapper {
    position: relative;
    width: 90%;
    max-width: 768px;
    background-color: #39393c;
    margin: 2em auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 20px 40px 70px;
    z-index: 1;
}
.cd-testimonials-wrapper::after {
    /* quotation mark */
    content: '\201C';
    position: absolute;
    top: 10px;
    left: 0;
    width: 50px;
    height: 50px;
    padding-top: 30px;
    margin-left: -25px;
    background: rgba(32, 32, 34, 0.9);
    font-family: "Georgia", serif;
    color: #ffffff;
    font-size: 70px;
    text-align: center;
    /* visible on big devices only */
    display: none;
}
@media only screen and (min-width: 768px) {
    .cd-testimonials-wrapper {
        margin: 4em auto;
        padding: 64px 50px 114px;
    }
}
@media only screen and (min-width: 1170px) {
    .cd-testimonials-wrapper::after {
        /* quotation mark visible */
        display: block;
    }
}

.cd-testimonials {
    color: #ffffff;
    text-align: center;
}
.cd-testimonials::after {
    clear: both;
    content: "";
    display: table;
}
.cd-testimonials > li {
    position: absolute;
    opacity: 0;
}
.cd-testimonials > li:first-child {
    position: relative;
    opacity: 1;
}
.cd-testimonials p {
    font-family: "Georgia", serif;
    font-style: italic;
    line-height: 1.4;
    margin-bottom: 1em;
    padding: 0 14px;
}
@media only screen and (min-width: 768px) {
    .cd-testimonials p {
        font-size: 22px;

    }
}
@media only screen and (min-width: 1170px) {
    .cd-testimonials p {
        font-size: 26px;
        line-height: 1.6;
    }
}

.cd-author img, .cd-author .cd-author-info {
    display: inline-block;
    vertical-align: middle;
}
.cd-author img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 5px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}
.cd-author .cd-author-info {
    text-align: left;
    line-height: 1.2;
}
.cd-author .cd-author-info li:first-child {
    font-size: 14px;

}
.cd-author .cd-author-info li:last-child {
    font-size: 12px;

    color: #6b6b70;
}
@media only screen and (min-width: 768px) {
    .cd-author img {
        width: 50px;
        height: 50px;
    }
    .cd-author .cd-author-info {
        line-height: 1.4;
    }
    .cd-author .cd-author-info li:first-child {
        font-size: 16px;
    }
    .cd-author .cd-author-info li:last-child {
        font-size: 14px;
    }
}

.flex-direction-nav li {
    position: absolute;
    height: 100%;
    width: 40px;
    top: 0;
}
.flex-direction-nav li:first-child {
    left: 0;
}
.flex-direction-nav li:last-child {
    right: 0;
}
.flex-direction-nav li a {
    display: block;
    height: 100%;
    width: 100%;
    /* image replacement */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    transition: background-color 0.2s;
}
.no-touch .flex-direction-nav li a:hover {
    background-color: #323234;
}
.flex-direction-nav li a::before, .flex-direction-nav li a::after {
    /* left and right arrows in css only */
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 2px;
    height: 13px;
    background-color: #ffffff;
}
.flex-direction-nav li a::before {
    -webkit-transform: translateY(-35px) rotate(45deg);
    -moz-transform: translateY(-35px) rotate(45deg);
    -ms-transform: translateY(-35px) rotate(45deg);
    -o-transform: translateY(-35px) rotate(45deg);
    transform: translateY(-35px) rotate(45deg);
}
.flex-direction-nav li a::after {
    -webkit-transform: translateY(-27px) rotate(-45deg);
    -moz-transform: translateY(-27px) rotate(-45deg);
    -ms-transform: translateY(-27px) rotate(-45deg);
    -o-transform: translateY(-27px) rotate(-45deg);
    transform: translateY(-27px) rotate(-45deg);
}
.flex-direction-nav li:last-child a::before {
    -webkit-transform: translateY(-35px) rotate(-45deg);
    -moz-transform: translateY(-35px) rotate(-45deg);
    -ms-transform: translateY(-35px) rotate(-45deg);
    -o-transform: translateY(-35px) rotate(-45deg);
    transform: translateY(-35px) rotate(-45deg);
}
.flex-direction-nav li:last-child a::after {
    -webkit-transform: translateY(-27px) rotate(45deg);
    -moz-transform: translateY(-27px) rotate(45deg);
    -ms-transform: translateY(-27px) rotate(45deg);
    -o-transform: translateY(-27px) rotate(45deg);
    transform: translateY(-27px) rotate(45deg);
}
@media only screen and (min-width: 768px) {
    .flex-direction-nav li {
        width: 50px;
    }
}

@media only screen and (max-width: 767px) {
    .text-hotel {
        -webkit-column-count: 1; /* Chrome, Safari, Opera */
        -moz-column-count: 1; /* Firefox */
        column-count: 1;
        -webkit-column-gap: 100px; /* Chrome, Safari, Opera */
        -moz-column-gap: 100px; /* Firefox */
        column-gap: 100px;
        -webkit-column-rule: 1px solid rgba(25, 50, 15, 0.35); /* Chrome, Safari, Opera */
        -moz-column-rule: 1px solid rgba(25, 50, 15, 0.35);; /* Firefox */
        column-rule: 1px solid rgba(25, 50, 15, 0.35);;

        color: #333333;
        line-height: 28px;
        font-size: 14px;
        text-align: justify;

    }
}






@media only screen and (min-width: 1170px) {
    .flex-direction-nav li a::before, .flex-direction-nav li a::after {
        background-color: #5e5e63;
        -webkit-transition: background-color 0.2s;
        -moz-transition: background-color 0.2s;
        transition: background-color 0.2s;
    }
    .flex-direction-nav li a:hover::before, .flex-direction-nav li a:hover::after {
        background-color: #ffffff;
    }
}

.cd-see-all {
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #252527;
    text-align: center;
    text-transform: uppercase;
    color: #6b6b70;
    font-weight: 700;
    font-size: 12px;
    -webkit-transition: color, 0.2s;
    -moz-transition: color, 0.2s;
    transition: color, 0.2s;
}
.no-touch .cd-see-all:hover {
    color: #79b6e4;
    text-decoration: none;
}

.cd-testimonials-all {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-testimonials-all .cd-testimonials-all-wrapper {

    height: 100%;
    width: 100%;
    overflow: auto;
}
.cd-testimonials-all .cd-testimonials-all-wrapper > ul {
    width: 90%;
    max-width: 1170px;
    margin: 4em auto;
}
.cd-testimonials-all .cd-testimonials-all-wrapper > ul::after {
    clear: both;
    content: "";
    display: table;
}
.cd-testimonials-all .cd-testimonials-item {
    margin-bottom: 2em;
    opacity: 0;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translate3d(0, 0, 0) scale(0.4);
    -moz-transform: translate3d(0, 0, 0) scale(0.4);
    -ms-transform: translate3d(0, 0, 0) scale(0.4);
    -o-transform: translate3d(0, 0, 0) scale(0.4);
    transform: translate3d(0, 0, 0) scale(0.4);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform .3s, opacity .3s;
    -moz-transition: -moz-transform .3s, opacity .3s;
    transition: transform .3s, opacity .3s;
}
.cd-testimonials-all p {
    position: relative;
    background: #e4f7e2;
    font-size: 14px;
    color: #333333;
    padding: 2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 24px;
    border-radius: 0.25em;
    margin-bottom: 1em;
}
.cd-testimonials-all p::after {
    /* creating the triangle in css */
    content: '';
    position: absolute;
    top: 100%;
    left: 2em;
    height: 0;
    width: 0;
    border: 8px solid transparent;
    border-top-color: #e4f7e2;
}
.cd-testimonials-all .cd-author {
    text-align: left;
    margin-left: 1.5em;
}
.cd-testimonials-all .cd-author img {
    box-shadow: 0 0 0 transparent;
}
.cd-testimonials-all.is-visible {
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-testimonials-all.is-visible .cd-testimonials-all-wrapper {
    -webkit-overflow-scrolling: touch;
}
.cd-testimonials-all.is-visible .cd-testimonials-item {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) scale(1);
    -moz-transform: translate3d(0, 0, 0) scale(1);
    -ms-transform: translate3d(0, 0, 0) scale(1);
    -o-transform: translate3d(0, 0, 0) scale(1);
    transform: translate3d(0, 0, 0) scale(1);
}
@media only screen and (min-width: 768px) {
    .cd-testimonials-all .cd-testimonials-item {
        width: 46%;
        margin: 0 2% 3em;
    }
    .cd-testimonials-all .cd-author {
        margin-left: 1em;
    }
}
@media only screen and (min-width: 1170px) {
    .cd-testimonials-all .cd-testimonials-item {
        width: 30%;
        margin: 0 1.6666% 3em;
    }
}

.close-btn {
    position: fixed;
    display: block;
    width: 40px;
    height: 40px;
    top: 10px;
    right: 5%;
    /* image replacement */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
}
.close-btn::before, .close-btn::after {
    /* close icon in css */
    content: '';
    position: absolute;
    display: inline-block;
    width: 2px;
    height: 24px;
    top: 8px;
    left: 19px;
    background-color: #39393c;
}
.close-btn::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.close-btn::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.whatsapp {
    position: fixed;
    z-index: 99;
    right: 10px;
    bottom: 10px;
    width: 60px;
    height: 60px;
}

.whatsapp a {
    background: #00E676;
    border-radius: 50%;
    box-shadow: 0 5px 10px 0 rgba(35, 50, 56, .1);
    -webkit-transform-origin: center;
    transform-origin: center;
    position: relative;
    height: 60px;
    width: 60px;
    text-align: center;
    line-height: 60px;
    font-size: 1.3em;
    color: #fff;
    z-index: 1;
    display: block;
}

.whatsapp .ripple,
.whatsapp .ripple:before,
.whatsapp .ripple:after {
    -webkit-animation: ripple 3s infinite;
    animation: ripple 3s infinite;
    border-radius: 50%;
    box-shadow: 0 0 0 0 rgba(16, 231, 126, 0.3);
    top: 0;
    height: 60px;
    position: absolute;
    width: 60px
}

.whatsapp .ripple:before {
    -webkit-animation-delay: .9s;
    animation-delay: .9s;
    content: "";
    position: absolute;
    top: 0
}

.whatsapp .ripple:after {
    -webkit-animation-delay: .6s;
    animation-delay: .6s;
    content: "";
    position: absolute;
    top: 0
}

@-webkit-keyframes ripple {
    70% {
        box-shadow: 0 0 0 50px transparent
    }
    100% {
        box-shadow: 0 0 0 0 transparent
    }
}

@keyframes ripple {
    70% {
        box-shadow: 0 0 0 50px transparent
    }
    100% {
        box-shadow: 0 0 0 0 transparent
    }
}